.item{
   display: grid;
   grid-template-columns: repeat(4, minmax(250px , 1fr));
   gap: 20px;
}
.item-cards{
    /* background-color: black;  */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    padding: 16px;
    background-color: #fff;

}
.item-cards:hover{
    transform: translateY(-10px);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
.item-image{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
}
.old_cost{
    text-decoration: line-through;
    color: #999;
}
.new_cost{
    color: #ff4141;
    font-weight: bold; 
}


