.shop-category select{
    /* width: 157px;
    height: 58px; */
    outline: none;
    border: 2px solid #7a7a7a; 
    border-radius: 75px;
    /* font-size: 20px; */
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    color: #7a7a7a;
    /* padding: 0px 25px; */
 }
 .shop-category select:hover{
    transform:scale(1.05);
}
.banner-image{
    width: 100%;
    box-sizing: border-box;
    height: 200%;
}
/* 
.shop-category-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(112px,1fr)) ;
    gap: 20px;
} */




.shop-category-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

/* Ensure a minimum of 2 and a maximum of 4 columns */
@media (max-width: 600px) {
    .shop-category-item {
        grid-template-columns: repeat(2, 1fr); /* At least 2 columns on small screens */
    }
}

@media (min-width: 1024px) {
    .shop-category-item {
        grid-template-columns: repeat(4, 1fr); /* Up to 4 columns on large screens */
    }
}

