

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    background: linear-gradient(180deg, white, rgba(233, 189, 189, 0.6) 60%);
    animation: fadeIn 1s ease-in-out;
}

.button {
    background-color: #ff4141;
    color: white;
    border-radius: 75px;
}

.hero-right {
    display: flex;
    flex: 0.5;
}

/* Mobile Responsive Adjustments */
@media (max-width: 768px) {
    .hero {
        padding: 2rem 1rem;
    }
    
    .hero-right {
        margin-top: 2rem;
    }
}