.admin{
    display: flex;
}
.right-sidebar{
    width: 95vw;
    /* background-color: pink; */
    box-sizing: border-box;
    margin: 0px auto;
}
.ListProduct{
    width: 100%;
}
@media(max-width: 800px){
    .admin{
        flex-direction: column;
    }
}